.page__sidebar-project {
  margin-bottom: 1.5em;
}

.page__sidebar-title {
  margin-bottom: 0.5em;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


.project-facts {
  line-height: 1.3 !important;
}

.project-facts strong {
  font-weight: 600;
}

.project-facts__title {
  display: block;
  text-align: center;
  margin-bottom: 0.2em !important;
  font-size: 1.05em !important;
}

// .project-facts {
//   margin: 0;
// }

// .project-facts dt {
//   font-weight: 600;
//   font-size: 0.85em;
// }

// .project-facts dd {
//   margin: 0 0 0.6em 0;
//   font-size: 0.85em;
// }


/* Feature row image should not look clickable */
.feature__item img {
  cursor: default;
}

.feature__item:hover img {
  opacity: 1;
  transform: none;
}